input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.sign-up-mascot {
  z-index: 100;
  height: 450px;
  object-fit: contain;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  max-width: 316px;
}

.input-box.error {
  border-color: #f81f1f;
}

.input-box .error-message {
  color: #f81f1f;
  font-size: 12px;
  height: 12px;
  font-family: "SF Pro Text", "Poppins", sans-serif;
}
