h1 {
  margin: 0;
}
h1,
p {
  color: var(--white);
}

body {
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.left {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  width: 50%;
}

.right {
  flex: 1;
  border-radius: 32px 0 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.sign-up-mascot {
  z-index: 100;
  position: absolute;
  transform: translateY(-50%);
  z-index: 100;
  width: 120%;
  height: auto;
  max-width: none;
  top: 50%;
  left: 8%;
}

.form-container {
  display: flex;
  justify-content: center;
  max-height: 500px;
  align-items: center;
}

.sign-up-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100vh;
  }

  .logo {
    position: absolute;
    left: 32px;
    top: 10px;
  }
  .left {
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: 100%;
    height: auto;
    border-radius: 24px 24px 0 0;
    padding: 20px 0;
  }
  .sign-up-mascot {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: auto;
    max-width: none;
    z-index: 100;
  }
  .form-container {
    max-height: none;
    padding: 20px;
  }
  .sign-up-form {
    width: 100%;
    height: auto;
  }
  .input-control {
    margin-bottom: 15px;
  }
  .button {
    width: 100%;
    padding: 10px;
  }
  .link {
    text-align: center;
  }
}
